.knob .knobOut {
    -fx-background-color: black;
    -fx-background-radius: 2000;
}
.knob .knobOutFrame1 {
    -fx-background-color: gray;
    -fx-background-radius: 2000;
}
.knob .knobOutFrame2 {
    -fx-background-color: white;
    -fx-background-radius: 2000;
}

.knob .knobInFrame1 {
    -fx-background-color: gray;
    -fx-background-radius: 2000;
}

.knob .knobInFrame2 {
    -fx-background-color: white;
    -fx-background-radius: 2000;
}

.knob .knobIn {
    -fx-background-image: url("compass.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-radius: 2000;
}

.knob .knobDot {
    -fx-background-color: red;
    -fx-background-radius: 2000;
}
